<html>

<head>
	<!--Title-->
	<title>Music By Mood</title>

	<!--Meta Tags which give information about the site but do not display-->
	<meta name="description" content="Music By Mood Website">
	<meta name="keywords" content="HTML, CSS, Javascript, Python">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--Link to stylesheet (External Style Sheet) -->
	<link rel="stylesheet" href="static/css/General.css">

</head>

<body id="body">

		<header>
			<img id='logo' src='static/img/MusicByMoodLogo.png' width='500px'></img><br>
			<button onclick="location.href='/'">Listen</button><br>
		</header>
	
		<div id="aboutPage">
			
			<nav>
				<p id='aboutTitle'><b>ABOUT US</b></p>
			</nav>
	
			<section>
				<p id="Paragraph-Intro">
					Music By Mood was developed by Kira Weiss, Sally Carlson, Quinn Hirsohn, <br>
					Jeremy Jess, and Justin Gadalla. All of the developers are current students<br>
					at the Claremont Colleges. This web application was built as a class project<br>
					for CS121 (Software Development). 
				</p>

	
				<div>
					<img id="group_selfie" width="500" src="static/img/teamSelfie.jpg">
				</div>
			</section>
	
		</div>
	
	</body>
	


</html>