<!doctype html>

<head>
    <link rel="stylesheet" href="static/css/General.css">

</head>

<body id="body">
    <header>
        <img id="logo" src="static/img/MusicByMoodLogo.png" width="500px"></img><br>
		<button onclick="location.href='/about'" type="button">About</button> <br>
    </header>

   
    <br>
    <form method="post" enctype="multipart/form-data"> <input id="chooseFile"  accept="image/jpeg" type="file" name="file">
        <input id="upload" type="submit" value="Upload">
    </form>
</body>

</html>